body {
  background-color: lightcyan;
}

.box{
  min-height: 100px;
  min-width: 30%;
}

.name {
  grid-area: n;
}

.phone {
  grid-area: p;
}

.email {
  grid-area: e;
}

.message {
  grid-area: m;
}

.submit {
  grid-area: s;
  border-radius: 50px;
    padding: 10px;
    width: 200px;
    height: 50px;
    border: 0px;
    border-bottom: 2px solid gray;
    background: red;
    margin: auto;

}

form {
  display: grid;
  padding: 10%;
  grid-gap: 50px;
  grid-row-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: "n e"
    "p none"
    "m m"
    "s s";
}

form p{
  color: red;
}


input {
  width: 100%;
  border: 0px;
  border-bottom: 1px solid cadetblue;
  background-color: inherit;
  padding: 5px 10px;
  outline: none;
}

.button{
  padding: 10px;
  border-radius: 50px;
}


